body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
    background-image: url(../images/back_map.png);
        background-repeat: no-repeat;
        background-size:cover;
        background-attachment: fixed;
}