.containerscore{
    max-width: 80%;
}
.tscore{
    text-align: center;
    border: 2px solid white;
    padding: 5%;
}
.tdhead{
    font-weight: bold;
    border: 2px solid goldenrod;
    background-color: rgba(255, 255, 255, 0.508);
}
.rowscore{
    padding:2%;
    border: 2px solid goldenrod;
    background-color: rgba(255, 255, 255, 0.508);
}